---
import cancion from '../assets/sound/cancion.mp3';

import Layout from '../layouts/Layout.astro';

import Modal from '../components/Modal.astro';

import messages_data from '../assets/data/months.json'

import fs from 'fs';


const goals_moonmochi = './src/assets/imgs/goals/moonmochi';

const GoalsLength = await fs.readdirSync(goals_moonmochi).length;

// type string
const arr_mochi_src: string[] = [];
const arr_nino_src: string[] = [];

for (let i = 1; i <= GoalsLength; i++) {
    arr_mochi_src.push(`./src/assets/imgs/goals/moonmochi/${i}.jpg`);
    arr_nino_src.push(`./src/assets/imgs/goals/ninoro/${i}.jpg`);
}

---

<Layout title="Ninoro">
    <h1 class="mt-2 w-full text-center text-5xl text-white">â˜… ğ‘µğ’Šğ’ğ’ğ’“ğ’ â˜†</h1>    

    <goal class="flex w-full md:h-2/5 justify-center items-center gap-2 md:mt-12 mt-20">

        <button id="left_slide" class="goal bg-gray-600 bg-opacity-75 rounded-full text-center align-middle text-white text-3xl font-extrabold w-10 h-10 md:opacity-60 hover:opacity-100 -scale-100">â¤</button>
        
        {Array.from({ length: GoalsLength }, (_, i) => (
            <slide id={i.toString()} class="hidden justify-center items-center gap-1 slide">                
                <a class="flex w-1/2 justify-center items-center md:h-3/5 md:w-1/5">
                    <img class="flex mb-5 items-center rounded-xl ninoropfp" src={arr_mochi_src[i]} alt="Moonmochi">        
                </a>

                <a class="flex w-1/2 justify-center items-center md:h-3/5 md:w-1/5">
                    <img class="flex mb-5 items-center rounded-xl ninoropfp" src={arr_nino_src[i]} alt="Ninoro">
                </a>
            </slide>
        ))}

        <button id="right_slide" class="goal bg-gray-600 bg-opacity-75 rounded-full text-center align-middle text-white text-3xl font-extrabold w-10 h-10 md:opacity-60 hover:opacity-100">â¤</button>
    </goal>
    <p class="text-2xl text-white font-bold">â¤ï¸ MoonMochi y Ninoro â¤ï¸</p>
    <months class="flex flex-col md:w-1/3 w-2/3 mt-5">
        <h1 class="text-3xl text-white text-center w-full underline">Meses</h1>
        <hearts class="mt-4">
            {messages_data.map((message, index) => (
                <button id={index.toString()} class="w-8 h-8 md:opacity-50 hover:opacity-100 transition-all duration-300 button_hearts"></button>
                <Modal mes={message.month} message={message.message} />
            ))}
        </hearts>
    </months>

    <audio loop src={cancion}></audio>
</Layout>

<script>
    let actual_slide = 0;
    const slides = document.querySelectorAll('slide') as NodeListOf<HTMLElement>;
    let max_slides = slides.length;
    slides[actual_slide].classList.remove('hidden');
    slides[actual_slide].classList.add('flex');

    const goals_btn = document.querySelectorAll('.goal') as NodeListOf<HTMLButtonElement>;   
    goals_btn[0].disabled = true;
    
    goals_btn.forEach((button) => {
        button.addEventListener('click', (e) => {            
            e.preventDefault();
            if((e.target as HTMLInputElement).id === 'left_slide'){
                slides[actual_slide].classList.remove('flex');
                slides[actual_slide].classList.add('hidden');
                actual_slide--;
                slides[actual_slide].classList.remove('hidden');
                slides[actual_slide].classList.add('flex');
                slides[actual_slide].style.animation = 'slidefromright 0.5s';
            }else{
                slides[actual_slide].classList.remove('flex');
                slides[actual_slide].classList.add('hidden');
                actual_slide++;
                slides[actual_slide].classList.remove('hidden');
                slides[actual_slide].classList.add('flex');
                slides[actual_slide].style.animation = 'slidetoright 0.5s';
            }

            if(actual_slide === 0){
                goals_btn[0].disabled = true;
                goals_btn[1].disabled = false;
            } else if(actual_slide === max_slides - 1){
                goals_btn[1].disabled = true;
                goals_btn[0].disabled = false;
            } else {
                goals_btn[0].disabled = false;
                goals_btn[1].disabled = false;
            }
        });
    });

    const audio = document.querySelector('audio');
    document.querySelectorAll('.button_hearts').forEach((button) => {
        button.addEventListener('click', () => {
            const modal = document.getElementById("dialog");
            if(audio){
                audio.volume = 0.1;
                audio.play();
            }

            if(modal) modal.style.display = "flex";
        });
    });
    
</script>

<style is:global>
    body{
        background-image: url("../assets/imgs/main_bg.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;    
    }

    h1{
        text-shadow: 0 0 10px rgb(33, 54, 172);
    }

    p{
        text-shadow: 0 0 10px rgb(35, 47, 153);
        font-family: 'Times New Roman', Times, serif;
    }

    .button_hearts{
        background-image: url("../assets/imgs/heart.gif");
        background-size: cover;
    }

    .ninoropfp{
        box-shadow: 0 0 10px rgb(255, 255, 255);
    }

    .slide{
        transition: visibility 0s linear 0.5s, opacity 0.5s linear;
    }

    @keyframes slidetoright {
        0% {
            transform: translateX(100%);
        }
        100% {
            transform: translateX(0);
        }
    }

    @keyframes slidefromright {
        0% {
            transform: translateX(-100%);
        }
        100% {
            transform: translateX(0);
        }
    }
    
</style>
